@charset "utf-8";

body{
  margin: 0;
  font-family: "Kalinga", Arial;
  min-width: 200px;
}

#header {
  background-color: #24C0D8;
  color:white;
  font-size: 40px;
  height: 200px;
  margin: 0;
  min-height: 100px;
  min-width: 620px;
  padding-left: 30px;
  padding-top: 15px;
	vertical-align: middle;
}

#header span{
  min-width: 620px;
  position: absolute;
  top: 70px;
  left:220px;
}

#navegador{
  font-size: 0.8em;
  bottom: 40px;
  position: relative;
}

#navegador ul{
   list-style-type: none;
   text-align: center;
} 

#navegador li{
   display: inline;
   text-align: center;
   margin: 0 -11px 0 0;
} 

#navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #8cddf4;
   border: 1px solid #ccc;
   text-decoration: none;
}

#navegador li a:hover{
   background-color: #dc6918;
   color: #ffffff;
} 


#banner{
  background-color: #666361;
  text-align: center;
  padding:25px 0 25px 0;
}

#footer{
  background-color: #666361;
  color:white;
  display:inline-block;
  min-width: 620px;
  padding: 15px 0;
  vertical-align: middle;
  width: 100%;
}

#footer a {
  color:white;
  text-decoration: none;
}

#footer a:hover{
  color:#dc6918;
}

#footer span{
  margin-left: 60px;
}

#social{
 float: right;
 margin-right: 60px;
}

#social img{
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  margin: 0 5px;
  width: 50px;
}

#social img:hover{
  box-shadow: 0px 0px 10px 8px #76a4a4;
  -webkit-box-shadow:  0px 0px 10px 8px #76a4a4;
  -moz-box-shadow:  0px 0px 10px 8px #76a4a4;

}

#noticias{
  background-color: #A19E9B;
  font-size: 1.2em;
  height: auto;
  min-width: 620px;
  padding: 0 80px;
  text-align: center;
}

#center{
  min-height: 300px;
  min-width: 300px;
  padding-bottom: 30px;
  position: relative;
  background-repeat:no-repeat;
}

#susc{
  background-color: #6AA7B9;
  border: 1px solid black;
  height: 150px;
  left: 50px;
  margin-bottom: 0;
  position: relative;
  width: 450px;
}

#susc_int{
  background-color: #6AA7B9;
  border: 1px solid black;
  bottom: 17px;
  height: 115px;
  left: 18px;
  position: absolute;
  width: 412px;
}

#formulario_sus{
  display: block;
  margin: 40px 30px;
  text-align: center;
}

#input_email{
  font-size: 1.3em;
  margin-bottom: 8px;
  width: 330px;
}

#boton_sus{
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  font-size: 1.1em;
  height: 30px;
  width: 100px;
}

#boton_sus:hover{
  
}


/*Estilos del slider*/
.button {
  background: #014464;
  background: -moz-linear-gradient(top, #0D658E, #0C577A 50%, #014D71 51%, #003E5C);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0E658E), color-stop(.5, #0C577A), color-stop(.5, #014D71), to(#003E5C)); 
  border: 1px solid #368DBE;
  border-top: 1px solid #c3d6df;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 3px black;
  -webkit-box-shadow: 0 1px 3px black;
  box-shadow: 0 1px 3px black;
  color: white;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  width: auto;
}
.button2 {
  background: #d9ae00;
  background: -moz-linear-gradient(top, #b28b06, #9c7705 50%, #9c7705 51%, #5c4100);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b28b06), color-stop(.5, #9c7705), color-stop(.5, #9c7705), to(#5c4100)); 
  border: 1px solid #c7a60c;
  border-top: 1px solid #e5d51f;
}
.button3 {
  background: #ffd838;
  background: -moz-linear-gradient(top, #edbf21, #c89b0f 50%, #9c7705 51%, #906706);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #edbf21), color-stop(.5, #c89b0f), color-stop(.5, #c89b0f), to(#906706)); 
  border: 1px solid #c7a60c;
  border-top: 1px solid #e5d51f;
}
.price_table {
  float: right;
  font-size: 12px;
  margin: 10px auto 0;
  padding: 20px 0;
  position: relative;
  width: 570px;
}
.price_table .price_column.highlighted {
  background: #ffd838;
  margin: -5px!important;
  padding: 10px;
  z-index: 2;
}
.price_table .price_column {
  display: block;
  margin: 5px;
  float: left;
  position: absolute;
  width: 180px;
  z-index: 1;
}
.price_table .price_column > div {
  background: #eeeeee;
}
.price_table .price_column > div > div {
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #f6f6f6;
}
.price_table .price_column > div > p {
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #f6f6f6;
}
.price_table .price_column > div > ul {
  padding: 10px 15px;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #f6f6f6;
}
.price_table .price_title {
  background-color: #333333;
  border-top: 0!important;
  color: #ffffff;
  font-size: 14px;
}
.price_table .highlighted .price_title {
  font-size: 16px;
}
.price_table .price_price {
  font-size: 36px;
  line-height: 40px;
}
.price_table .highlighted  .price_price {
  font-size: 40px;
  line-height: 44px;
}
.price_table .price_explanation {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
}
.price_table .cusButton {
  background-color: #333333;
  display: block;
  text-align: center;
}
.price_table li {
  padding: 5px 0;
}
.price_table div.pix_check {
  background: url(images/demo/list-check-green.png) no-repeat 15px center;
  padding-left: 38px!important;
}
.price_table div.pix_error {
  background: url(images/demo/list-error.png) no-repeat 15px center;
  padding-left: 38px!important;
}
/*Fin estilos del slider */

#content_center{
  margin: 100px 0;
  position: relative;
  right: 76px;
  text-align: right;
  width: 100%;
}

.content_link{
  display:block;
  font-family: "Kalinga",Arial;
  font-weight: bold;
  font-size: 3em;
}

#content_center a{
  text-decoration: none;
  color:#666666;
  margin:2px 0;
}

#content_center a:hover{
  color: #DC6918;
  text-shadow: -4px 4px 7px rgba(5,75,139,.75);
  -webkit-text-shadow:-4px 4px 7px rgba(5,75,139,.75);
  -moz-text-shadow:-4px 4px 7px rgba(5,75,139,.75);
}